// Place all the styles related to the MonetaryActivities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	color: #51463d; 
	font-size: 62.5%;
	background-color: rgb(251, 250, 245);
	border-top: 3px solid #b59575;
	 }
